<nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li><a
                routerLink=""
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}">Home
            </a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
            <li><a routerLink="/features" routerLinkActive="active">Features</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About Us</a></li>
            <li><a routerLink="/pets" routerLinkActive="active">Pets</a></li>
        </ul>
    </div>
</nav>
