<div class="container block">
    <div class="row">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorem non ratione beatae. Repudiandae cumque earum sed, reiciendis deserunt quia.</p>
    </div>
    <hr>
    <div class="row">
        <h2>In dicta sint consectetur nulla.</h2>
        <p>Architecto quis magnam, beatae minima a modi eligendi blanditiis nemo fugiat deserunt sapiente. Non repellendus eaque veritatis labore, blanditiis sequi?</p>
    </div>
    <hr>
    <div class="row">
        <h2>Mollitia nam nemo quidem labore!</h2>
        <p>Harum, ratione cum? Necessitatibus corrupti cum eos! Soluta beatae tenetur nihil? Nobis inventore dolore reprehenderit? Aut ullam officiis quos tempore!</p>
    </div>
    <hr>
    <div class="row">
        <h2>Doloremque doloribus blanditiis quaerat enim?</h2>
        <p>Iusto earum incidunt reprehenderit maiores soluta expedita enim placeat minus, doloribus ipsam, eaque odio natus. Autem temporibus adipisci nisi reiciendis.</p>
    </div>
</div>
