.flex-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    padding-top: 0;
}

.selected {
    color: gray;
}

.content-block {
    display: flex;
    flex-direction: column;
    width: 58%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: bold;
    background-color: #EEEEEE;
    border-radius: 5px;
    margin: 10px;
    padding: 8px 25px;
    cursor: pointer;
}
.content:hover {
    background-color: #e7e5e5;
}

.choice-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choice-content img {
    width: 175px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 8px;
}
