<h2>Books</h2>
<div class="flex-container">
    <div class="content-block">
        <div class="content" *ngFor="let book of books;"
            (click)="choice(book)"
            [ngClass]="{ selected: selectedBook === book }">
            <span class="index">{{book.title}}</span>
            <span>{{book.author}}</span>
        </div>
    </div>
    <div class="choice-content">
        <img src={{selectedBook.img}} alt="img-book">
        <span class="index">{{selectedBook.title}}</span>
        <span>{{selectedBook.author}}</span>
        <span>{{selectedBook.year}}</span>
        <span>₴{{selectedBook.price}}</span>
    </div>
</div>
