<hr>
<button (click)="showEvent($event)">Show event</button>
<hr>
<button *ngIf="isVisible" (click)="toggleP()">Hide</button>
<button *ngIf="!isVisible" (click)="toggleP()">Show</button>
<p *ngIf="isVisible">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit eum,
    necessitatibus ex autem velit, repellendus, suscipit ratione optio nemo
    dolores placeat quaerat sunt ipsam dolore.
</p>
<hr>

<div>
    <input type="text" [(ngModel)]="userName">
    <span>{{userName}}</span>
</div>
