.panel-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    width: 50%;
    min-width: 415px;
}
.panel-block button {
    width: 35px;
    height: 35px;
}
.panel-block button, select, input {
    background-color: #E5E5E5;
    border: none;
    cursor: pointer;
}
select {
    padding: 6px;
}

.texteditor {
    box-sizing: border-box;
    width: 100%;
    outline: none;
}

.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.underline {
    text-decoration: underline;
}
.uppercase {
    text-transform: uppercase;
}
