.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100px;
    height: 150px;
    margin: 5px;
}
.index {
    color: rgb(7, 95, 226);
    font-weight: bold;
}
